html {
    color:#666617;
    font-family: Courier, Arial;
}
header {
    height: 10vh;
    width: 88vw;
    align-items: center;
    display: flex;
}
main {
    width: 88vw;
    display: flex;
    overflow: scroll;
}
.main-content {
    width: 88vw;
    display: flex;
    flex-direction: column;
}
.category-container1, .category-container2 {
    height: 25vh;
    width: 86vw;
    display: flex;
    justify-content:space-evenly;
    font-size: 130px;
    font-style:italic;
    align-items: center;
    color: #fafaf5;
}
a {
    text-decoration: none;
    color:#fafaf5;
}

.category:hover {
    color: #adad02;
    transition-duration: 1s;
    cursor: pointer;
}
.name-container {
    height: 25%;
    width: 88vw;
    font-size: 40px;
    color:#666617;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name {
    color:#666617;
    font-size: 40px;
    transition-duration: .5s;
}
.name:hover {
    color: #c94242;
    font-size: 60px;
    transition-duration: .5s;
}

.name-container:hover {
    cursor: pointer;
    font-size: 24px;
}

.side-bar {
    width: 12vw;
    height: 100vh;
    background-color:#fafae8;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
}
.hamburger-box {
    width: 35%;
    height: 6%;
    margin: 12% 0 12% 0;
    transition-duration: 0.3s;
}
.hamburger-box:hover {
    cursor: pointer;
}
.hamburger {
    width: 100%;
    height: 10%;
    background-color: #666617;
}
.line1, .line2, .line3 {
    margin-bottom: 10px;
}
.close {
    display: none;
}
.round {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #666617;
    transition-duration: 0.3s;
}
.menu-container {
    display: none;
    transition-duration: 1s;
}
.menu {
    font-size: 20px;
    margin: 30px 0 25px 0;
    color:#666617;
}
.menu:hover {
    color: #c94242;
}
a:link {
    color: black;
    text-decoration: none;
}
.displayed-page {
    color:#d6d694;
}
footer {
    height: 10vh;
    width: 100vw;
    background-color: #f5f514;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    right:0;
}
.social-media {
    height: 100%;
    display: flex;
    align-items: center;
}
.icon {
    height: 20px;
    width: 38px;
    margin: 6px;
    font-size: 20px;
    color:#666617;
    align-items: center;
    text-align: center;
}
.letter {
    display: none;
}
.facebook-icon, .instagram-icon, .twitter-icon {
    display: none;
}
.facebook-icon:hover, .instagram-icon:hover, .twitter-icon:hover {
    cursor: pointer;
    color: #c94242;
    font-size: 24px;
}

.footer-box {
    height: 100%;
    width: 12vw;
    background-color: #ffffbd;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 420px) {
    .main-content {
        width: 100vw;
    }
    .side-bar {
        /* width: 100vw; */
        background-color: rgba(250, 250, 232, 0);
        z-index: 25;
    }
    .hamburger-box {
        width: 30px;
        height: 30px;
        position: fixed;
        right: 10px;
        top: -20px;
        z-index: 6;
    }
    .hamburger {
        width: 100%;
        height: 18%;
    }
    .line1, .line2, .line3 {
        margin-bottom: 5px;
    }
    .menu-container {
        width: 100vw;
        height: 90vh;
        display: none;
        text-align: center;
        position: fixed;
        right: 0;
        top: 10vh;
        padding-top: 25px;
        transition-duration: 1s;
        background-color: rgba(250, 250, 232, .9);
        z-index: 10;
    }
    .menu {
        font-size: 40px;
        margin: 30px 0 25px 0;
        align-self: center;
        z-index: 15;
    }
    .footer {
        z-index: 5;
    }
    .footer-box {
        display: none;
    }
    .category-container1, .category-container2 {
        display: flex;
        width: 80vw;
        flex-direction: column;
        height: 40vh;
        font-size: 130px;
    }
    .name-container {
        height: 25%;
        width: 88vw;
        font-size: 40px;
        color:#666617;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 50px;
        position: fixed;
        top: 30vh;
    }
}

/* about */
.content-wrapper {
    width: 88vw;
    height: 76vh;
    position: absolute;
    align-self: center;
    margin: 20px 0 10000px 0;
    z-index: 5;
    overflow: scroll;
}
.title-container {
    width: 88vw;
    display: flex;
    align-items: center;
}
.name-title {
    width: 20%;
    margin-left: 20px;
    font-size: 24px;
}
.link-top {
    color: #c94242;
}
.link-top:hover {
    cursor: pointer;
    color: #eb7171;
}
.page-title {
    width: 60%;
    font-size: 80px;
    font-style:italic;
    display: flex;
    justify-content: center;
    align-items: center;
}
.extra {
    width: 20%;
}

@media screen and (max-width: 420px) {
    header {
        height: 80px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .name-title {
        width: 80vw;
        font-size: 18px;
    }
    .page-title {
        font-size: 60px;
    }
}

@media screen and (min-width: 421px) and (max-width: 800px) {
    header {
        height: 80px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .name-title {
        width: 80vw;
        font-size: 20px;
        margin-bottom: -8px;
    }
    .page-title {
        font-size: 65px;
    }
}

/* history timeline */
.history-container {
    margin-top: 40px;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hist {
    display: flex;
    align-items: baseline;
    font-size: 20px;
    z-index: 0;
}
.year {
    width: 8%;
    height: 100%;
    text-align: center;
    border-right: solid #666617 1px;
}
.line {
    height: 5px;
    width: 13%;
    background-color: #666617;
    margin-right: 5px;
}
.lineB {
    height: 2px;
}
.no-line {
    visibility: hidden;
}
.event {
    width: 82%;
    height: fit-content;
}
.eventA {
    font-size: 35px;
}
.eventB {
    font-size: 28px;
}
.eventC {
    font-size: 25px;
}
.profile-pic {
    background-image: url("/images/1.jpg");
    background-size: 800px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-position-x: 505px;
    background-position-y: -240px;
    position: absolute;
    right: 15vw;
    top: 10vh;
    z-index: 1;
}
@media screen and (max-width: 420px) {
    .profile-pic {
        top: 12vh;
        left: 50%;
        transform: translate(-50%);
        z-index: 5;
    }
    .content-wrapper {
        margin: 24vh 0 0 15px;
        height: 54vh;
    }
    .history-container {
        width: 95vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
    }
    .hist {
        width: 80vw;
        height: fit-content;
        text-overflow: wrap;
        z-index: 1;
    }
    .year {
        width: 52px;
        border-right: none;
        padding-right: 2px;
    }
    .line {
        display: none;
    }
    .event {
        width: 72vw;
        height: fit-content;
        margin-bottom: 10px;
        padding-left: 10px;
        border-left: solid #666617 1px;
    }
}
@media screen and (min-width: 421px) and (max-width: 800px) {
    .profile-pic {
        top: 8vh;
        z-index: 5;
    }
    .history-container {
        margin-top: 80px;
        width: 95vw;
        height: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .year {
        width: 52px;
        border-right: none;
    }
    .line {
        display: none;
    }
    .event {
        height: fit-content;
        margin: 0 0 50px 5px;
        padding-left: 10px;
        border-left: solid #666617 1px;
    }
}

/* write */
.writing-container {
    height: 75vh;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: 15px 10% 15px 10%;
}
.writing {
    margin: 5px;
    box-shadow: 1px 1px 3px 2px rgba(69, 69, 3,.4);
}
.writing:hover {
    cursor: pointer;
}
.writing-intro {
    height: 80vh;
    width: 88vw;
    position: absolute;
    top: 10vh;
    right: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, .9);
    z-index: 20;
}
.writing-content {
    font-size: 30px;
}
.writing-intro:hover {
    cursor: pointer;
}
.fadeout{
    opacity: 0;
    transition-duration: 1.3s;
}
.fadeout .intro {
    display: block;
    opacity: 1;
}
.writing-caption {
    margin: 0 30px 0 30px;
    font-size: 50px;
    width: 70%
}
.writing-content-container {
    -webkit-margin-bottom-collapse: 20px;
    text-align: left;
    font-size: 40px;
    padding: 30px 50px 0 50px;
}
@media screen and (max-width: 420px) {
    .intro {
        position: fixed;
        left: 0;
        top: 10vh;
        z-index: 20;
    }
    .writing-intro {
        width: 100%;
        height: 80vh;
        right: 0;
        justify-content: flex-start;
        padding-top: 10px;
    }
    .writing-caption {
        font-size: 34px;
        margin-bottom: 20px;
    }
    .writing-content-container {
        width: 90vw;
    }
    .writing-content {
        font-size: 20px
    }
}
@media screen and (min-width: 421px) and (max-width: 800px) {
    .writing-intro {
        justify-content: flex-start;
        padding-top: 40px;
        height: 75vh;
    }
    .writing-caption {
        font-size: 38px;
        margin-bottom: 20px;
    }
    .writing-content-container {
        width: 70vw;
        text-align: center;
    }
    .writing-content {
        font-size: 20px;
    }
}
.writing-icon1 {
    background-image: url("/images/writing/writing1.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon2 {
    background-image: url("/images/writing/writing2.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon3 {
    background-image: url("/images/writing/writing3.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon4 {
    background-image: url("/images/writing/writing4.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon5 {
    background-image: url("/images/writing/writing5.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon6 {
    background-image: url("/images/writing/writing6.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon7 {
    background-image: url("/images/writing/writing7.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon8 {
    background-image: url("/images/writing/writing8.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon9 {
    background-image: url("/images/writing/writing9.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon10 {
    background-image: url("/images/writing/writing10.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon11 {
    background-image: url("/images/writing/writing11.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon12 {
    background-image: url("/images/writing/writing12.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon13 {
    background-image: url("/images/writing/writing13.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon14 {
    background-image: url("/images/writing/writing14.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon15 {
    background-image: url("/images/writing/writing15.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon16 {
    background-image: url("/images/writing/writing16.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon17 {
    background-image: url("/images/writing/writing17.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon18 {
    background-image: url("/images/writing/writing18.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon19 {
    background-image: url("/images/writing/writing19.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon20 {
    background-image: url("/images/writing/writing20.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon21 {
    background-image: url("/images/writing/writing21.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon22 {
    background-image: url("/images/writing/writing22.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon23 {
    background-image: url("/images/writing/writing23.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon24 {
    background-image: url("/images/writing/writing24.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.writing-icon25 {
    background-image: url("/images/writing/writing25.jpg");
    background-size: 200px;
    width: 90%;
    height: 90%;
    background-position: center;
}
.hover-box {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .8);
    visibility: hidden;
}
.large-article-box{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: none;
    background-color: rgba(255, 255, 255, 0);
}
.large-article {
    height: 80%;
    /* width: 80%; */
    padding: 30px;
    background-color:rgba(255, 255, 189, .9);
    box-shadow: 2px 2px 6px 8px rgba(69, 69, 3,.4);
    border-radius: 2%;
    justify-content: center;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -8%);
    text-align: center;
    z-index: 10;
}
@media screen and (min-width: 420px) {
    .focus-image {
        height: 100%;
    }
}
@media screen and (max-width: 420px) {
    .large-article {
        width: 80%;
        height: content;
        display: flex;
        align-items: center;
    }
    .focus-image {
        width: 90vw;
        height: relative;
    }
}
@media screen and (min-width: 421px) and (max-width: 800px) {
    .large-article {
        width: 80vw;
        height: max-content;
    }
    .focus-image {
        width: 80vw;
        height: relative;
    }
}
/* travel */
.travel-intro {
    top: 10vh;
    opacity: .7
}
.travel-content-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 15px;
}
.travel-cont {
    width: max-content;
    margin: 0 30px 0 30px;
    align-self: center;
    font-size: 30px;
}
.countries-container {
    width: 80%;
    font-size: 70px;
    justify-content: center;
    align-items: center;
    font-style:italic;
    z-index: 1;
}
.country-pic-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    justify-self: center;
    width: 88%;
    height: 78vh;
    position: fixed;
    left: 0;
    z-index:2;
}
.country-pic-focus {
    max-width: 500px;
    height: content;
    max-height: 60%;
    margin: 0;
    padding: 0;
    border-radius: 10%;
    position: absolute;
    z-index: 3;
    display: none;
    transition-duration: .8s;
}
.focus-pic {
    width: 100%;
}
.focus-location-name {
    font-size: 70px;
    z-index: 3;
    position: absolute;
    /* bottom: -5px; */
    /* left: -5%; */
    max-width: 800px;
    color: whitesmoke;
    text-shadow: -3px 3px #666617;
}
@media screen and (max-width: 420px) {
    .travel-content-container {
        width: 87vw;
        height: 50vh;
        text-align: center;
        justify-content: 5px;
        z-index: 2;
    }
    .travel-cont {
        font-size: 20px;
    }
    .country-pic-focus {
        width: 300px;
    }
    .focus-location-name {
        bottom: 100px;
        font-size: 30px;
    }
}

/* code */
.video-wrapper {
    width: 60%;
    position: absolute;
    align-self: center;
    text-align: center;
    margin: 20px 0 1000px 0;
}
.video-container {
    padding: 10px 0 10px 0;
}
.code-title {
    font-size: 58px;
    margin: 5px 0 8px 0;
}
video {
    width: 90%;
    border: 0;
    outline: 0;
    box-shadow: 0px 5px 7px 6px rgba(69, 69, 3,.4);
}
.github-link {
    font-size: 45px;
    color:#666617;
    text-decoration: none;
    margin: 9px 0 130px 0;
}
.github-link:hover {
    cursor: pointer;
    color: #eb7171;
    font-size: 28px;
    transition-duration: .4s;
}
@media screen and (max-width: 420px) {
    .video-wrapper {
        width: 90vw;
    }
    .code-title {
        font-size: 30px;
    }
    .github-link {
        font-size: 20px;
        margin-bottom: 70px;
    }
}

/* Dive */
.dive-main {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    overflow: scroll;
}
.dive-header-container, .capture-header-container {
    width: 78%;
    height: max-content;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    color:#8c8c23;
    margin-top: 5px;
}
.dive-header-1, .capture-header-1 {
    font-size: 38px;
}
.dive-header-2, .capture-header-2 {
    font-size: 52px;
}
.dive-header-3, .capture-header-3 {
    font-size: 68px;
}
.dive-header-1, .dive-header-2, .dive-header-3, .capture-header-1, .capture-header-2, .capture-header-3 {
    padding: 0 8px 0 8px;
    margin: 0;
}
.dive-vid-container {
    width: 68vw;
    margin-top: 18px;
    text-align: center;
}
.dive-desc, .capture-desc {
    width: 80%;
    font-size: 30px;
    text-align: center;
    color:#8c8c23;
    margin-top: 10px;

}
@media screen and (max-width: 420px) {
    .dive-main {
        justify-content:flex-start;
    }
    .dive-vid-container {
        width: 90vw;
    }
    .dive-header-1, .capture-header-1 {
        font-size: 18px;
    }
    .dive-header-2, .capture-header-2 {
        font-size: 22px;
    }
    .dive-header-3, .capture-header-3 {
        font-size: 38px;
    }
    .dive-desc, .capture-desc {
        width: 90%;
        font-size: 16px;
        margin-top: 10px;
    }
}
@media screen and (min-width: 421px) and (max-width: 800px) {
    .dive-main {
        justify-content:flex-start;
    }
    .dive-vid-container {
        width: 87vw;
    }
    .dive-header-container {
        margin: 8px 0 10px 0;
    }
    .dive-desc {
        margin-top: 0;
    }
}

/* capture */
.capture-main {
    height: 80vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider-container {
    width: 88vw;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.image-container {
    max-width: 64vw;
    max-height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.image {
    width: 100%;
    height: relative;
    transition: all 1s ease-in-out;
    box-shadow: 0px 5px 7px 6px rgba(69, 69, 3,.4);

}
.right {
    position: fixed;
    right: -2000px;
    opacity: 0;
}
.left {
    position: fixed;
    left: -2000px;
    opacity: 0;
}
.button {
    width: 30vw;
    height: 60vh;
    opacity: 0;
}
.previous {
    position: fixed;
    left: 0;
    top: 20vh;
    z-index: 30;
}
.next {
    position: fixed;
    right: 10vw;
    top: 20vh;
    z-index: 30;
}
.capture-desc-cont {
    margin-top: 25px;
    width: 80vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-self:center;
    align-items: center;
    overflow: scroll;
}

.capture-desc, .capture-header-1, .capture-header-2, .capture-header-3 {
    text-align: center;
    color: rgba(255, 255, 255, .9);
    text-shadow: 2px 2px #666617;
}
.link-insta {
    background-color: rgba(255, 255, 255, 0);
    width: 120px;
    height: 92px;
    border-radius: 30%;
    font-size: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 12vw;
    top: 60vh;
    color: rgba(201, 66, 66, .9);
    z-index: 5;
}
.link-insta:hover {
    cursor: pointer;
    font-size: 80px;
    color: rgba(201, 66, 66, 1);
    background-color:rgba(255, 255, 255, .5);
}
.insta-msg {
    font-size: 15px;
    margin: -5px 0 -5px 0;
    padding: 0;
}
@media screen and (max-width: 420px) {
    .capture-main {
        overflow: scroll;
    }
    .image-container {
        max-width: 90%;
        max-height: 80vh;
    }
    .capture-desc-cont {
        width: 90vw;
        height: fit-content;
        margin-top: 25px;
    }
    .capture-desc, .capture-header-1, .capture-header-2, .capture-header-3 {
        color: #666617;
        text-shadow: none;
    }
    .link-insta {
        position: static;
        justify-self: center;
        padding-top: 30px;
        width: 100px;
        height: 50px;
        font-size: 60px;
    }
    .capt-insta, .insta-msg {
        font-size: 17px;
        margin-bottom: 1px;
    }
}
@media screen and (min-width: 421px) and (max-width: 800px) {
    .slider-container {
        width: 100vw;
    }
    .image-container {
        width: 120%;
        top: 17vh;
    }
    .capture-desc-cont {
        max-width: 80vw;
        top: 50vh;
    }
    .link-insta {
        top: 77vh;
        width: 120px;
        height: 70px;
        font-size: 70px;
    }
    .insta-msg {
        font-size: 12px;
    }
}

/* contact */
.form-wrapper {
    width: 70vw;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    align-self: center;
    padding: 5px 2px 5px 2px;
    margin-top: 100px;
}
.contact-mail {
    font-size: 58px;
    margin-bottom: 25px;
}
.contact-msg {
    font-size: 45px;
}
.contact-phone {
    font-size: 40px;
    margin: 0;
}
.mail {
    width: 70vw;
    height: 420px;
    margin-top: 100px;
    padding: 0;
    font-size: 700px;
    position: absolute;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mail-icon {
    color:rgba(245, 245, 20, .5);
}
@media screen and (max-width: 420px) {
    .form-wrapper {
        margin-top: 20px;
        width: max-content;
    }
    .contact-mail {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .contact-msg {
        font-size: 25px;
        margin-bottom:18px;
    }
    .contact-phone {
        font-size: 23px;
        margin: 0;
    }
    .mail {
        width: 70vw;
        height: 420px;
        margin-top: 20px;
        font-size: 270px;
    }
}
@media screen and (min-width: 421px) and (max-width: 800px) {
    .form-wrapper {
        margin-top: 30px;
    }
    .contact-mail {
        font-size: 48px;
        margin-bottom: 20px;
    }
    .contact-msg {
        font-size: 37px;
        margin-bottom:18px;
    }
    .contact-phone {
        font-size: 30px;
        margin: 0;
    }
    .mail {
        width: 70vw;
        height: 420px;
        margin-top: 30px;
        font-size: 500px;
    }
}